# OS
Thumbs.db
.DS_Store
.ignore*/

# Editors
.vs/
.vscode/
.idea/
.fleet/

# Lang: Go
vendor/
go.work
go.work.sum

# Output
dist/
output/
build/

# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Environment
env/
.env
.env*

# Logs
logs/
*.log
*.log*
